{
  "swagger": "2.0",
  "info": {
    "title": "Authorization API v3",
    "version": "1.0.0",
    "description": "Endpoints to test the Authoization routes"
  },
  "host": "authentication.bridgefund-foundation.net",
  "basePath": "/v3",
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "scheme": "bearer",
      "in": "header"
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/authorization/camunda-users": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Retrieve camunda users",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/authorization/login": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "add Login data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for login data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              },
              "example": {
                "userId": "demo",
                "password": "6=nGjbEY"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/authorization/is-authorized": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Authorize token",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/anonymous-user/": {
      "get": {
        "tags": [
          "Anonymous user"
        ],
        "summary": "Retrieve Anonymous user data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "_id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "userName",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/anonymousUser"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/anonymous-user/add-single-recode": {
      "post": {
        "tags": [
          "Anonymous user"
        ],
        "summary": "add single Anonymous user data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Anonymous user data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "organization": {
                  "type": "string"
                }
              },
              "example": {
                "firstName": "Sam",
                "lastName": "David",
                "userName": "Sam",
                "email": "sam@gamil.com",
                "organization": "ABC Company"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "string"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/anonymous-user/update-recode": {
      "put": {
        "tags": [
          "Anonymous user"
        ],
        "summary": "update Anonymous user\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for Anonymous user data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/anonymousUser"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/anonymous-user/get-token": {
      "post": {
        "tags": [
          "Anonymous user"
        ],
        "summary": "add single Anonymous user data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Anonymous user data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "permissionKey": {
                  "type": "string"
                }
              },
              "example": {
                "permissionKey": "permission key"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/anonymous-user/generate-new-permission-key": {
      "post": {
        "tags": [
          "Anonymous user"
        ],
        "summary": "Generate new permission key for exsistance user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Anonymous user identify data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "permissionKey": {
                  "type": "string"
                }
              },
              "example": {
                "id": "id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/access-right/": {
      "get": {
        "tags": [
          "Access Right"
        ],
        "summary": "Retrieve Access Right data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/accessRight"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/access-right/add-single-recode": {
      "post": {
        "tags": [
          "Access Right"
        ],
        "summary": "add single Access Right data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Access Right data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "example": {
                "name": "Disabled"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/accessRight"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/access-right/add-multiple-recodes": {
      "post": {
        "tags": [
          "Access Right"
        ],
        "summary": "add multiple access right data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for access right data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "accessRightsList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "name": "Test"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/accessRight"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/access-right/update-recode": {
      "put": {
        "tags": [
          "Access Right"
        ],
        "summary": "update access right\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for access right data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/accessRight"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cluster/": {
      "get": {
        "tags": [
          "Cluster"
        ],
        "summary": "Retrieve cluster data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/cluster"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cluster/add-single-recode": {
      "post": {
        "tags": [
          "Cluster"
        ],
        "summary": "add single cluster data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for cluster data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "example": {
                "name": "Test Cluster"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/cluster"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cluster/add-multiple-recodes": {
      "post": {
        "tags": [
          "Cluster"
        ],
        "summary": "add multiple cluster data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for cluster data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "clusterList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "name": "Test"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/cluster"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cluster/update-recode": {
      "put": {
        "tags": [
          "Cluster"
        ],
        "summary": "update cluster\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for cluster data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/cluster"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/functionality/": {
      "get": {
        "tags": [
          "Functionality"
        ],
        "summary": "Retrieve Functionality data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/functionality"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/functionality/add-single-recode": {
      "post": {
        "tags": [
          "Functionality"
        ],
        "summary": "add single Functionality data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Functionality data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "example": {
                "name": "test functionality"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/functionality"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/functionality/add-multiple-recodes": {
      "post": {
        "tags": [
          "Functionality"
        ],
        "summary": "add multiple Functionality data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Functionality data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "functionalityList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "name": "Test"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/functionality"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/functionality/update-recode": {
      "put": {
        "tags": [
          "Functionality"
        ],
        "summary": "update Functionality\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for Functionality data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/functionality"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/permisson-matrix/": {
      "get": {
        "tags": [
          "Permisson Matrix"
        ],
        "summary": "Retrieve permisson matrix data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "roleId",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/permisson-matrix/add-single-recode": {
      "post": {
        "tags": [
          "Permisson Matrix"
        ],
        "summary": "add single permisson matrix data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Permisson Matrix data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "roleId": {
                  "type": "string"
                },
                "functionalityId": {
                  "type": "string"
                },
                "accessRightId": {
                  "type": "string"
                },
                "clusterId": {
                  "type": "string"
                },
                "permission": {
                  "type": "boolean"
                }
              },
              "example": {
                "roleId": "role id",
                "functionalityId": "functionality id",
                "accessRightId": "accessRight id",
                "clusterId": "cluster id",
                "permission": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/permisson-matrix/add-multiple-recodes": {
      "post": {
        "tags": [
          "Permisson Matrix"
        ],
        "summary": "add multiple Permisson Matrix data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for Permisson Matrix data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "permissionList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "roleId": {
                        "type": "string"
                      },
                      "functionalityId": {
                        "type": "string"
                      },
                      "accessRightId": {
                        "type": "string"
                      },
                      "clusterId": {
                        "type": "string"
                      },
                      "permission": {
                        "type": "boolean"
                      }
                    },
                    "example": {
                      "roleId": "role id",
                      "functionalityId": "functionality id",
                      "accessRightId": "accessRight id",
                      "clusterId": "cluster id",
                      "permission": true
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/permisson-matrix/update-recode": {
      "put": {
        "tags": [
          "Permisson Matrix"
        ],
        "summary": "update Permisson Matrix\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for Permisson Matrix data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/permisson-matrix/set-permissions-to-cache": {
      "post": {
        "tags": [
          "Permisson Matrix"
        ],
        "summary": "set permissions to cache",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "set permissions to cache"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/permisson-matrix/get-permissions-from-cache": {
      "get": {
        "tags": [
          "Permisson Matrix"
        ],
        "summary": "Retrieve permisson from cache",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cluster",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/role/": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Retrieve Roles data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/role"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/role/add-single-recode": {
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "add single Role data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for role data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "integer"
                }
              },
              "example": {
                "name": "CEO",
                "description": "CEO of the company"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/role"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/role/add-multiple-recodes": {
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "add multiple Roles data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for roles data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "roleList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "name": "Test Role",
                      "description": "Test Role description"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/role"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/role/update-recode": {
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "update role\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for roles data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/role"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/role/get-users-based-on-role": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Retrieve user according to role",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "role",
            "schema": {
              "type": "String"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Retrieve user data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/user"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/add-single-recode": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "add single user data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for user data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "roleId": {
                  "type": "string"
                },
                "roleName": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "group": {
                  "type": "string,"
                },
                "preferredLanguage": {
                  "type": "string,"
                },
                "profileImage": {
                  "type": "string,"
                }
              },
              "example": {
                "firstName": "first",
                "lastName": "last",
                "name": "first last",
                "roleId": "R000013",
                "roleName": "IT developer",
                "userName": "user name",
                "displayName": "dispaly name",
                "email": "email",
                "phone": "phone",
                "password": "n&|[[sIBO@",
                "group": "jumpcloud group id",
                "preferredLanguage": "EN",
                "profileImage": "test.jpg"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/user"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/add-multiple-recodes": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "add multiple user data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for user data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "camundaUserId": {
                        "type": "string"
                      },
                      "roleId": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "name": "test user",
                      "camundaUserId": "camunda user Id",
                      "roleId": "role id"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/functionality"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/update-recode": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "update user\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for user data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/user"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Retrieve dashboard data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/dashboard"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/add-single-recode": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "add single dashboard data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for dashboard data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "icon": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              },
              "example": {
                "name": "Test Dashboard",
                "icon": "Test icon",
                "active": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/dashboard"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/add-multiple-recodes": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "add multiple dashboard data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for dashboard data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dashboardList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string"
                      },
                      "active": {
                        "type": "boolean"
                      }
                    },
                    "example": {
                      "name": "Test Dashboard",
                      "icon": "Test icon",
                      "active": true
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/dashboard"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/update-recode": {
      "put": {
        "tags": [
          "Dashboard"
        ],
        "summary": "update dashboard\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for dashboard data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                },
                "frontEndPortalId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/dashboard"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard-item/": {
      "get": {
        "tags": [
          "Dashboard Item"
        ],
        "summary": "Retrieve dashboard item data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/dashboardItem"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard-item/add-single-recode": {
      "post": {
        "tags": [
          "Dashboard Item"
        ],
        "summary": "add single dashboard item data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for dashboard item data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "dashboardId": {
                  "type": "string"
                },
                "sequenceNumber": {
                  "type": "string"
                },
                "wireframeId": {
                  "type": "string"
                },
                "primaryScreenIndicator": {
                  "type": "boolean"
                },
                "active": {
                  "type": "boolean"
                }
              },
              "example": {
                "name": "Test Dashboard",
                "dashboardId": "Test dashboardId",
                "sequenceNumber": "Test sequenceNumber",
                "wireframeId": "Test wireframeId",
                "primaryScreenIndicator": false,
                "active": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/dashboardItem"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard-item/add-multiple-recodes": {
      "post": {
        "tags": [
          "Dashboard Item"
        ],
        "summary": "add multiple dashboard item data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for dashboard item data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "clusterList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "dashboardId": {
                        "type": "string"
                      },
                      "sequenceNumber": {
                        "type": "string"
                      },
                      "wireframeId": {
                        "type": "string"
                      },
                      "primaryScreenIndicator": {
                        "type": "boolean"
                      },
                      "active": {
                        "type": "boolean"
                      }
                    },
                    "example": {
                      "name": "Test Dashboard",
                      "dashboardId": "Test dashboardId",
                      "sequenceNumber": "Test sequenceNumber",
                      "wireframeId": "Test wireframeId",
                      "primaryScreenIndicator": false,
                      "active": true
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/dashboardItem"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard-item/update-recode": {
      "put": {
        "tags": [
          "Dashboard Item"
        ],
        "summary": "update dashboard item\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for dashboard item data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/dashboardItem"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/": {
      "get": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "Retrieve my dashboard data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "roleId",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "userId",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "dashboardId",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/myDashboard"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/get-my-dashboards-self": {
      "get": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "Retrieve my dashboard data for logged in user",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/myDashboard"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/add-single-recode": {
      "post": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "add single my dashboard data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "roleId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "dashboardId": {
                  "type": "string"
                }
              },
              "example": {
                "roleId": "roleId",
                "userId": "userId",
                "dashboardId": "dashboardId"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/myDashboard"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/add-multiple-recodes": {
      "post": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "add multiple my dashboard data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "myDashboardList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "roleId": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "dashboardId": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "roleId": "roleId",
                      "userId": "userId",
                      "dashboardId": "dashboardId"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/myDashboard"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/update-recode": {
      "put": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "update my dashboard\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update for my dashboard data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                },
                "frontEndPortalId": {
                  "type": "String"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/myDashboard"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/add-or-delete-multiple-dashboards-for-roles-and-users-by-Admin": {
      "post": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "add or delete multiple dashboards for roles and users by admin",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard data add or delete",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "roleId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "frontEndPortalId": {
                  "type": "string"
                },
                "dashboardIdList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "dashboardId1",
                    "dashboardId2",
                    "dashboardId3"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/add-or-delete-multiple-dashboards-for-roles-and-users-by-user": {
      "post": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "add or delete multiple dashboards for roles and users by user self",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard data add or delete",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "frontEndPortalId": {
                  "type": "string"
                },
                "dashboardIdList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "dashboardId1",
                    "dashboardId2",
                    "dashboardId3"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/seed_dashboard_sequence_numbers": {
      "post": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "All my dashboards sequence number field fill if use this route. (USER SAVED SEQUENCES CHANGES IF USE THIS ROUTE. SO DO NOT USE WITHOUT GOOD REASON)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard data add or delete",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/add-dashboards-to-created-user": {
      "post": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "add my dashboards when user creates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard data to create new user sepecific dashboard",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard/add-dashboards-to-user-when-role-change": {
      "post": {
        "tags": [
          "My Dashboard"
        ],
        "summary": "remove user old role related dashboard and add new role specific dashboards. since user role has been changed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard data when specific user role changes",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "newRoleId": {
                  "type": "string"
                },
                "previousRoleId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard-item/": {
      "get": {
        "tags": [
          "My Dashboard Item"
        ],
        "summary": "Retrieve my dashboard item data for logged in user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "myDashboardId",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "dashboardItemId",
            "schema": {
              "type": "String"
            }
          },
          {
            "in": "query",
            "name": "myDashboardName",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/myDashboardItem"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard-item/get-by-query": {
      "get": {
        "tags": [
          "My Dashboard Item"
        ],
        "summary": "Retrieve my dashboard item data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "myDashboardId",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "dashboardItemId",
            "schema": {
              "type": "String"
            }
          },
          {
            "in": "query",
            "name": "myDashboardName",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/myDashboardItem"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard-item/add-single-recode": {
      "post": {
        "tags": [
          "My Dashboard Item"
        ],
        "summary": "add single my dashboard item data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard item data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "myDashboardId": {
                  "type": "string"
                },
                "dashboardItemId": {
                  "type": "string"
                },
                "sequenceNumber": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              },
              "example": {
                "myDashboardId": "Test my dashboardId",
                "dashboardItemId": "Test dashboardItemId",
                "sequenceNumber": "Test sequenceNumber",
                "active": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/myDashboardItem"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard-item/add-multiple-recodes": {
      "post": {
        "tags": [
          "My Dashboard Item"
        ],
        "summary": "add multiple my dashboard item data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for my dashboard item data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "myDashboardItemList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "myDashboardId": {
                        "type": "string"
                      },
                      "dashboardItemId": {
                        "type": "string"
                      },
                      "sequenceNumber": {
                        "type": "string"
                      },
                      "active": {
                        "type": "boolean"
                      }
                    },
                    "example": {
                      "myDashboardId": "Test my dashboardId",
                      "dashboardItemId": "Test dashboardItemId",
                      "sequenceNumber": "Test sequenceNumber",
                      "active": true
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/myDashboardItem"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/my-dashboard-item/update-recode": {
      "put": {
        "tags": [
          "My Dashboard Item"
        ],
        "summary": "update dashboard item\"",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update fo my dashboard item data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "updates": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/myDashboardItem"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/wireframe/": {
      "get": {
        "tags": [
          "Wireframe"
        ],
        "summary": "Retrieve wireframe data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "String"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "String"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/wireframe"
                  }
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/wireframe/add-single-recode": {
      "post": {
        "tags": [
          "Wireframe"
        ],
        "summary": "add single wireframe data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for wireframe data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                }
              },
              "example": {
                "name": "CRM customer list",
                "key": "CRM_customer_list"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "object",
                  "$ref": "#/definitions/wireframe"
                },
                "success": {
                  "type": "boolean",
                  "default": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/wireframe/add-multiple-recodes": {
      "post": {
        "tags": [
          "Wireframe"
        ],
        "summary": "add multiple wireframe data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "inputs for wireframe data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dashboardList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "key": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "name": "Test wireframe",
                      "key": "Test_wireframe"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "default": 200
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/wireframe"
                  }
                },
                "success": {
[...]
